<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.domenico.myapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormRegistrazione" />
        <activity android:name=".LoginForm" />
        <activity android:name=".RecuperaPassword" />
        <activity android:name=".HomepageCittadino" />
        <activity android:name=".HomepageOperatoreEcologico" />
        <activity android:name=".Calendario" />
        <activity android:name=".AreaPersonale" />
        <activity android:name=".Statistiche" />
        <activity android:name=".Contatti" />
        <activity android:name=".Segnalazione" />
        <activity android:name=".AvvisiCittadino" />
        <activity android:name=".VisualizzaMessaggio" />
        <activity android:name=".RaccoltaPunti" />

    </application>

</manifest>